Repository Josh-XT/AGiXT, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend

.github/labeler.yml:

# .github/labeler.yml
documentation:
  - '**/*.md'
frontend:
  - 'frontend/**/*'
backend:
  - 'backend/**/*'

Fixed SWR endpoint names so the section homepages work properly;
  docs/QANDA.md
  frontend/pages/agent/index.js
  frontend/pages/chain/index.js
  frontend/pages/provider/index.js
Labels: documentation, frontend

Updated README;
  docs/README.md
Labels: documentation

Updated README;
  docs/README.md
Labels: documentation

Updated README;
  docs/README.md
Labels: documentation

Updated README;
  docs/README.md
Labels: documentation

Fix formatting
  Commands.py
Labels: none

Fix formatting
  Commands.py
Labels: none

Update issue templates;
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs.yaml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/improve-existing-docs.yaml
Labels: none

Update issue templates;
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs.yaml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/improve-existing-docs.yaml
Labels: none

Update issue templates;
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yaml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: none

Update issue templates;
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yaml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

Create CODE_OF_CONDUCT.md (#140)
  CODE_OF_CONDUCT.md
Labels: documentation

Create CODE_OF_CONDUCT.md (#140)
  CODE_OF_CONDUCT.md
Labels: documentation

Create SECURITY.md
  SECURITY.md
Labels: documentation

Create SECURITY.md (#141)
  SECURITY.md
Labels: documentation

Create SECURITY.md (#141)
  SECURITY.md
Labels: documentation

Update issue templates;
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

Update issue templates;
  .github/ISSUE_TEMPLATE/bug.yml
Labels: none

Fix pull request template
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation

Fix pull request template (#144)
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation

Fix pull request template (#144)
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: documentation

- remove img = 100%
  frontend/styles/globals.css
Labels: frontend

- remove img = 100% (#145)
  frontend/styles/globals.css
Labels: frontend

- remove img = 100% (#145)
  frontend/styles/globals.css
Labels: frontend

Move template
  .github/pull_request_template.md
Labels: documentation

Move template
  .github/pull_request_template.md
Labels: documentation

Add chain steps example
  chain-steps-example.html
Labels: none

Add chain steps example
  chain-steps-example.html
Labels: none

WIP not working fix file command py
  Commands.py
Labels: none

Fixed side-effects of previous #136 fix;
  .github/ISSUE_TEMPLATE/docs.yml
  frontend/styles/globals.css
Labels: frontend

Fixed #83 using cookies-next;
  frontend/pages/_app.js
  package-lock.json
  package.json
Labels: frontend

Fixed #134 with TabIndicatorProps;
  frontend/components/agent/AgentPanel.js
  frontend/pages/_app.js
Labels: frontend

Started building chain files;
  frontend/components/chain/ChainControl.js
  frontend/components/chain/ChainPanel.js
  package-lock.json
  package.json
Labels: frontend

Fixed packages;
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

Working on Chains;
  frontend/.babelrc
  frontend/components/chain/ChainControl.js
  frontend/components/chain/ChainList.js
  frontend/components/chain/ChainPanel.js
  frontend/components/chain/ChainStep.js
  frontend/components/chain/ChainSteps.js
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

Working on Chains;
  frontend/components/chain/ChainControl.js
  frontend/components/chain/ChainPanel.js
  frontend/components/chain/ChainSaves.js
  frontend/components/chain/ChainStep.js
Labels: frontend

Add Huggingchat Provider
  provider/huggingchat.py
Labels: none

Huggingchat tested
  provider/huggingchat.py
Labels: none

Huggingchat (#149)
  provider/huggingchat.py
Labels: none
