Repository Josh-XT/AGiXT, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend

Instruct updates and better prompt engineering (#120)
  AgentLLM.py
  app.py
  model-prompts/bard/execute.txt
  model-prompts/chatgpt/execute.txt
  model-prompts/default/execute.txt
  model-prompts/gpt-3.5-turbo/execute.txt
  model-prompts/gpt-4/execute.txt
  model-prompts/vicuna/execute.txt
  prompts/Execution.txt
  prompts/Instruction.txt
Labels: none

Instruct updates and better prompt engineering (#120)
  AgentLLM.py
  app.py
  model-prompts/bard/execute.txt
  model-prompts/chatgpt/execute.txt
  model-prompts/default/execute.txt
  model-prompts/gpt-3.5-turbo/execute.txt
  model-prompts/gpt-4/execute.txt
  model-prompts/vicuna/execute.txt
  prompts/Execution.txt
  prompts/Instruction.txt
Labels: none

Add star history
  docs/README.md
Labels: documentation

Add star history
  docs/README.md
Labels: documentation

Update history
  docs/README.md
Labels: documentation

Update history
  docs/README.md
Labels: documentation

Create python-publish.yml
  .github/workflows/python-publish.yml
Labels: none

Create python-publish.yml
  .github/workflows/python-publish.yml
Labels: none

add error checking to prevent crash if LLM parses arguments incorrectly
  AgentLLM.py
Labels: none

add error checking to prevent crash if LLM parses arguments incorrectly (#118)
  AgentLLM.py
Labels: none

add error checking to prevent crash if LLM parses arguments incorrectly (#118)
  AgentLLM.py
Labels: none

Black Lint
  AgentLLM.py
  Commands.py
  Config.py
  app.py
  commands/audio_text.py
  commands/cicd.py
  commands/create_new_command.py
  commands/discord_commands.py
  commands/execute_code.py
  commands/file_operations.py
  commands/github.py
  commands/google.py
  commands/image_generator.py
  commands/microsoft_365_email.py
  commands/searxng_commands.py
  commands/sendgrid_email.py
  commands/times.py
  commands/twitter.py
  commands/voice.py
  commands/web_playwright.py
  commands/web_requests.py
  commands/web_selenium.py
  commands/work_with_ai.py
  main.py
  provider/__init__.py
  provider/bard.py
  provider/chatgpt.py
  provider/fastchat.py
  provider/kobold.py
  provider/llamacpp.py
  provider/oobabooga.py
  provider/openai.py
Labels: none

Black Lint (#123)
  AgentLLM.py
  Commands.py
  Config.py
  app.py
  commands/audio_text.py
  commands/cicd.py
  commands/create_new_command.py
  commands/discord_commands.py
  commands/execute_code.py
  commands/file_operations.py
  commands/github.py
  commands/google.py
  commands/image_generator.py
  commands/microsoft_365_email.py
  commands/searxng_commands.py
  commands/sendgrid_email.py
  commands/times.py
  commands/twitter.py
  commands/voice.py
  commands/web_playwright.py
  commands/web_requests.py
  commands/web_selenium.py
  commands/work_with_ai.py
  main.py
  provider/__init__.py
  provider/bard.py
  provider/chatgpt.py
  provider/fastchat.py
  provider/kobold.py
  provider/llamacpp.py
  provider/oobabooga.py
  provider/openai.py
Labels: none

Black Lint (#123)
  AgentLLM.py
  Commands.py
  Config.py
  app.py
  commands/audio_text.py
  commands/cicd.py
  commands/create_new_command.py
  commands/discord_commands.py
  commands/execute_code.py
  commands/file_operations.py
  commands/github.py
  commands/google.py
  commands/image_generator.py
  commands/microsoft_365_email.py
  commands/searxng_commands.py
  commands/sendgrid_email.py
  commands/times.py
  commands/twitter.py
  commands/voice.py
  commands/web_playwright.py
  commands/web_requests.py
  commands/web_selenium.py
  commands/work_with_ai.py
  main.py
  provider/__init__.py
  provider/bard.py
  provider/chatgpt.py
  provider/fastchat.py
  provider/kobold.py
  provider/llamacpp.py
  provider/oobabooga.py
  provider/openai.py
Labels: none

Add Code Style
  docs/README.md
Labels: documentation

Add Code Style
  docs/README.md
Labels: documentation

Create code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Format notebooks
  notebooks/API-Tests.ipynb
  notebooks/bard.ipynb
  notebooks/chatgpt.ipynb
  notebooks/llamacpp.ipynb
  notebooks/oobabooga.ipynb
  notebooks/openai.ipynb
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

eslint
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

Create code_style_check.yml (#124)
  .github/workflows/code_style_check.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
  notebooks/API-Tests.ipynb
  notebooks/bard.ipynb
  notebooks/chatgpt.ipynb
  notebooks/llamacpp.ipynb
  notebooks/oobabooga.ipynb
  notebooks/openai.ipynb
Labels: frontend

Create code_style_check.yml (#124)
  .github/workflows/code_style_check.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
  notebooks/API-Tests.ipynb
  notebooks/bard.ipynb
  notebooks/chatgpt.ipynb
  notebooks/llamacpp.ipynb
  notebooks/oobabooga.ipynb
  notebooks/openai.ipynb
Labels: frontend

Fix load commands and find command
  Commands.py
Labels: none

Fix load and find commands
  Commands.py
Labels: none

Fix load and find commands (#127)
  Commands.py
Labels: none

Fix load and find commands (#127)
  Commands.py
Labels: none

hotfix values unpack Commands.py
  Commands.py
Labels: none

hotfix values unpack Commands.py (#129)
  Commands.py
Labels: none

hotfix values unpack Commands.py (#129)
  Commands.py
Labels: none

Fix the remaining issues in the command execution pipeline
  Commands.py
Labels: none

Fix the remaining issues in the command execution pipeline (#130)
  Commands.py
Labels: none

Fix the remaining issues in the command execution pipeline (#130)
  Commands.py
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Fixed SWR endpoint names so the section homepages work properly;
  docs/QANDA.md
  frontend/pages/agent/index.js
  frontend/pages/chain/index.js
  frontend/pages/provider/index.js
Labels: documentation, frontend

.github/labeler.yml:

# .github/labeler.yml
documentation:
  - '**/*.md'
frontend:
  - 'frontend/**/*'
backend:
  - 'backend/**/*'
