Repository Josh-XT/AGiXT, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend

.github/labeler.yml:

# .github/labeler.yml
documentation:
  - '**/*.md'
frontend:
  - 'frontend/**/*'
backend:
  - 'backend/**/*'

hotfix _app.js (#192)
  frontend/pages/_app.js
Labels: frontend

hotfix _app.js (#192)
  frontend/pages/_app.js
Labels: frontend

Fixed provider settings drop down
  frontend/components/systems/agent/tabs/AgentConfigure.js
Labels: frontend

Fixed provider settings drop down (#194)
  frontend/components/systems/agent/tabs/AgentConfigure.js
Labels: frontend

Fixed provider settings drop down (#194)
  frontend/components/systems/agent/tabs/AgentConfigure.js
Labels: frontend

Fix chat
  frontend/components/systems/agent/tabs/AgentChat.js
Labels: frontend

Fix chat
  frontend/components/systems/agent/tabs/AgentChat.js
Labels: frontend

revert
  frontend/components/systems/agent/tabs/AgentChat.js
Labels: frontend

revert
  frontend/components/systems/agent/tabs/AgentChat.js
Labels: frontend

Fix chat #183
  frontend/components/systems/agent/tabs/AgentChat.js
Labels: frontend

Fix chat #183 (#196)
  frontend/components/systems/agent/tabs/AgentChat.js
Labels: frontend

Fix chat #183 (#196)
  frontend/components/systems/agent/tabs/AgentChat.js
Labels: frontend

Fix toggles on back end
  app.py
Labels: none

Fix toggles on back end
  app.py
Labels: none

Agent settings updates
  Config/Agent.py
Labels: none

Agent settings updates
  Config/Agent.py
Labels: none

Update agent config save
  Config/Agent.py
Labels: none

Update agent config save (#200)
  Config/Agent.py
Labels: none

Update agent config save (#200)
  Config/Agent.py
Labels: none

Embedding model to distilbert-base-uncased
  AgentLLM.py
Labels: none

Embedding model to distilbert-base-uncased (#201)
  AgentLLM.py
Labels: none

Embedding model to distilbert-base-uncased (#201)
  AgentLLM.py
Labels: none

Remove if statement breaking bard
  provider/bard.py
Labels: none

Remove if statement breaking bard (#202)
  provider/bard.py
Labels: none

Remove if statement breaking bard (#202)
  provider/bard.py
Labels: none

Fix agent config and command toggles
  Config/Agent.py
  app.py
Labels: none

Fix agent config and command toggles (#203)
  Config/Agent.py
  app.py
Labels: none

Fix agent config and command toggles (#203)
  Config/Agent.py
  app.py
Labels: none

Vicuna 1.0 prompts
  model-prompts/vicuna/execute.txt
  model-prompts/vicuna/instruct.txt
  model-prompts/vicuna/priority.txt
  model-prompts/vicuna/task.txt
Labels: none

500 word limit
  model-prompts/vicuna/instruct.txt
Labels: none

Vicuna 1.0 prompts engineered by Electrofried (#204)
  model-prompts/vicuna/execute.txt
  model-prompts/vicuna/instruct.txt
  model-prompts/vicuna/priority.txt
  model-prompts/vicuna/task.txt
Labels: none

Vicuna 1.0 prompts engineered by Electrofried (#204)
  model-prompts/vicuna/execute.txt
  model-prompts/vicuna/instruct.txt
  model-prompts/vicuna/priority.txt
  model-prompts/vicuna/task.txt
Labels: none

Added self to list
  docs/CONTRIBUTION.md
Labels: documentation

Fix instruct
  AgentLLM.py
Labels: none

Fix instruct (#207)
  AgentLLM.py
Labels: none

Fix instruct (#207)
  AgentLLM.py
Labels: none

Added self to list (#205)
  docs/CONTRIBUTION.md
Labels: documentation

Added self to list (#205)
  docs/CONTRIBUTION.md
Labels: documentation

Make Psuedo Code Prompt
  prompts/Psuedo Code.txt
Labels: none

Make Psuedo Code Prompt
  prompts/Psuedo Code.txt
Labels: none
