Repository Josh-XT/AGiXT, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend

.github/labeler.yml:

# .github/labeler.yml
documentation:
  - '**/*.md'
frontend:
  - 'frontend/**/*'
backend:
  - 'backend/**/*'

Config upon create;
  frontend/components/systems/agent/AgentPanel.js
  frontend/pages/new/agent.js
Labels: frontend

Config upon create;
  frontend/components/systems/agent/AgentPanel.js
  frontend/pages/new/agent.js
Labels: frontend

fix huggingchat provider api call (#226)
  provider/huggingchat.py
Labels: none

fix huggingchat provider api call (#226)
  provider/huggingchat.py
Labels: none

Fix linting
  provider/huggingchat.py
Labels: none

Fix linting
  provider/huggingchat.py
Labels: none

Added frontend submodule;
  .gitmodules
Labels: none

Modified README;
  docs/README.md
Labels: documentation

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Modified README;
  docs/README.md
Labels: documentation

Create .gitconfig
  .gitconfig
Labels: none

Update README.md
  docs/README.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Update LICENSE
  LICENSE
Labels: none

Update LICENSE
  LICENSE
Labels: none

Add new POST that allows to create conversation
  provider/huggingchat.py
Labels: none

lint
  provider/huggingchat.py
Labels: none

Fix huggingchat provider (#230)
  provider/huggingchat.py
Labels: none

Fix huggingchat provider (#230)
  provider/huggingchat.py
Labels: none

Updates
  AgentLLM.py
Labels: none

Lots of clean up
  AgentLLM.py
  app.py
Labels: none

Tell me how prompt
  prompts/Tell Me How.txt
Labels: none

Remove unnecessary ref
  AgentLLM.py
Labels: none

Add custom prompt injection
  AgentLLM.py
  CustomPrompt.py
Labels: none

Add gpt4free and huggingface provider Fix provider listing in frontend
  commands/file_operations.py
  frontend/components/systems/provider/ProviderList.js
  provider/gpt4free.py
  provider/huggingface.py
  requirements.txt
Labels: frontend

Add gpt4free and huggingface provider (#234)
  commands/file_operations.py
  frontend/components/systems/provider/ProviderList.js
  provider/gpt4free.py
  provider/huggingface.py
  requirements.txt
Labels: frontend

Add gpt4free and huggingface provider (#234)
  commands/file_operations.py
  frontend/components/systems/provider/ProviderList.js
  provider/gpt4free.py
  provider/huggingface.py
  requirements.txt
Labels: frontend

Lint, clean up
  AgentLLM.py
  provider/gpt4free.py
  provider/huggingface.py
Labels: none

Undo changes
  commands/file_operations.py
Labels: none
