Repository Josh-XT/AGiXT, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend

Prompts;
  frontend/components/systems/agent/AgentAdmin.js
  frontend/components/systems/chain/ChainControl.js
  frontend/components/systems/prompt/PromptAdmin.js
  frontend/components/systems/prompt/PromptControl.js
  frontend/components/systems/prompt/PromptList.js
  frontend/components/systems/prompt/PromptPanel.js
  frontend/pages/new/prompt.js
  frontend/pages/prompt/index.js
Labels: frontend

Fixed providers;
  frontend/pages/provider/[provider].js
  frontend/pages/provider/index.js
Labels: frontend

Update requirements.txt
  requirements.txt
Labels: none

Update requirements.txt
  requirements.txt
Labels: none

Fixed broken page refs;
  frontend/components/systems/chain/ChainAdmin.js
  frontend/components/systems/chain/ChainControl.js
  frontend/components/systems/chain/ChainList.js
  frontend/components/systems/chain/ChainPanel.js
  frontend/pages/agent/[agent].js
  frontend/pages/agent/index.js
  frontend/pages/chain/[chain].js
  frontend/pages/chain/index.js
  frontend/pages/new/agent.js
  frontend/pages/new/chain.js
  frontend/pages/prompt/[prompt].js
Labels: frontend

Added missing docs;
  docs/providers/HUGGINGCHAT.md
  docs/providers/LLAMACCP.md
  docs/providers/LLAMACPP.md
Labels: documentation

Fixed weird semicolons;
  frontend/pages/agent/index.js
  frontend/pages/chain/index.js
  frontend/pages/prompt/index.js
  frontend/pages/provider/[provider].js
  frontend/pages/provider/index.js
Labels: frontend

Fixed prompts docs;
  frontend/pages/prompt/index.js
  frontend/pages/provider/[provider].js
Labels: frontend

Fixed icons and accordion;
  frontend/components/systems/chain/ChainList.js
  frontend/components/systems/chain/ChainStep.js
  frontend/components/systems/prompt/PromptAdmin.js
  frontend/components/systems/prompt/PromptList.js
  frontend/components/systems/provider/ProviderList.js
Labels: frontend

Added add chain button;
  frontend/components/systems/chain/ChainStep.js
  frontend/components/systems/chain/ChainSteps.js
Labels: frontend

Fix prompt endpoint
  app.py
Labels: none

Chain administration;
  frontend/components/systems/agent/AgentAdmin.js
  frontend/components/systems/chain/ChainAdmin.js
  frontend/components/systems/chain/ChainSteps.js
  frontend/components/systems/prompt/PromptAdmin.js
Labels: frontend

Update get chain
  Config.py
  app.py
  chains/Write AI Tweet/1-agentllm1-instruction-Write tweet.txt
  chains/Write AI Tweet/2-agentllm2-task-Write tweet about recent.txt
  chains/Write AI Tweet/3-agentllm1-instruction-Send tweet.txt
Labels: none

do over
  Config.py
Labels: none

Chain steps
  Config.py
Labels: none

Remove unnecessary stuff
  Config.py
Labels: none

WIP chains page;
  chains/Test/1-agentllm1-instruction.txt
  chains/Test/2-agentllm2-task.txt
  chains/Test/3-agentllm1-instruction.txt
  chains/Test234/1-agentllm1-instruction-Write tweet.txt
  chains/Test234/2-agentllm2-task-Write tweet about recent.txt
  chains/Test234/3-agentllm1-instruction-Send tweet.txt
  frontend/components/systems/chain/ChainAdmin.js
  frontend/components/systems/chain/ChainControl.js
  frontend/components/systems/chain/ChainList.js
  frontend/components/systems/chain/ChainStep.js
  frontend/components/systems/chain/ChainSteps.js
Labels: frontend

Add run chain endpoint
  AgentLLM.py
  app.py
Labels: none

- change status button to alpha
  docs/README.md
Labels: documentation

- change status button to alpha (#160)
  docs/README.md
Labels: documentation

- change status button to alpha (#160)
  docs/README.md
Labels: documentation

Fix #158
  provider/huggingchat.py
Labels: none

Fix for #158
  provider/huggingchat.py
Labels: none

Fix for #158 (#162)
  provider/huggingchat.py
Labels: none

Fix for #158 (#162)
  provider/huggingchat.py
Labels: none

Force Playsound version
  requirements.txt
Labels: none

Fix #139 (#163)
  requirements.txt
Labels: none

Fix #139 (#163)
  requirements.txt
Labels: none

Update discord links
  docs/README.md
Labels: documentation

Update discord links
  docs/README.md
Labels: documentation

Add docs for #135
  docs/providers/BARD.md
  docs/providers/FASTCHAT.md
  docs/providers/HUGGINGCHAT.md
  docs/providers/KOBOLD.md
  docs/providers/LLAMACCP.md
  docs/providers/OOBABOOGA.md
  docs/providers/OPENAI.md
Labels: documentation

Discontinue notebooks
  API-Tests.ipynb
  docs/README.md
  docs/providers/LLAMACPP.md
  notebooks/bard.ipynb
  notebooks/chatgpt.ipynb
  notebooks/huggingchat.ipynb
  notebooks/llamacpp.ipynb
  notebooks/oobabooga.ipynb
  notebooks/openai.ipynb
Labels: documentation

Updating documentation for all providers (#165)
  API-Tests.ipynb
  docs/README.md
  docs/providers/BARD.md
  docs/providers/FASTCHAT.md
  docs/providers/HUGGINGCHAT.md
  docs/providers/KOBOLD.md
  docs/providers/LLAMACCP.md
  docs/providers/LLAMACPP.md
  docs/providers/OOBABOOGA.md
  docs/providers/OPENAI.md
  notebooks/bard.ipynb
  notebooks/chatgpt.ipynb
  notebooks/huggingchat.ipynb
  notebooks/llamacpp.ipynb
  notebooks/oobabooga.ipynb
  notebooks/openai.ipynb
Labels: documentation

Updating documentation for all providers (#165)
  API-Tests.ipynb
  docs/README.md
  docs/providers/BARD.md
  docs/providers/FASTCHAT.md
  docs/providers/HUGGINGCHAT.md
  docs/providers/KOBOLD.md
  docs/providers/LLAMACCP.md
  docs/providers/LLAMACPP.md
  docs/providers/OOBABOOGA.md
  docs/providers/OPENAI.md
  notebooks/bard.ipynb
  notebooks/chatgpt.ipynb
  notebooks/huggingchat.ipynb
  notebooks/llamacpp.ipynb
  notebooks/oobabooga.ipynb
  notebooks/openai.ipynb
Labels: documentation

Fix bad reference in searxng
  commands/searxng_commands.py
Labels: none

Strip out everything before first letter of cmd
  AgentLLM.py
Labels: none

Fix #164 (#166)
  AgentLLM.py
  commands/searxng_commands.py
Labels: none

Fix #164 (#166)
  AgentLLM.py
  commands/searxng_commands.py
Labels: none

Fix #159
  AgentLLM.py
Labels: none

Fix #159 (#167)
  AgentLLM.py
Labels: none

.github/labeler.yml:

# .github/labeler.yml
documentation:
  - '**/*.md'
frontend:
  - 'frontend/**/*'
backend:
  - 'backend/**/*'
