Repository Josh-XT/AGiXT, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend

.github/labeler.yml:

# .github/labeler.yml
documentation:
  - '**/*.md'
frontend:
  - 'frontend/**/*'
backend:
  - 'backend/**/*'

Huggingchat (#149)
  provider/huggingchat.py
Labels: none

Remove duplicate length removal
  notebooks/API-Tests.ipynb
  provider/huggingchat.py
Labels: none

Remove duplicate length removal
  notebooks/API-Tests.ipynb
  provider/huggingchat.py
Labels: none

Add Huggingchat
  docs/README.md
  notebooks/huggingchat.ipynb
Labels: documentation

Add Huggingchat
  docs/README.md
  notebooks/huggingchat.ipynb
Labels: documentation

Remove pinecone requirement
  requirements-mac.txt
  requirements.txt
Labels: none

Remove pinecone requirement
  requirements-mac.txt
  requirements.txt
Labels: none

Add OpenAssistant Prompts (please modify)
  model-prompts/openassistant/execute.txt
  model-prompts/openassistant/priority.txt
  model-prompts/openassistant/script.txt
  model-prompts/openassistant/system.txt
  model-prompts/openassistant/task.txt
Labels: none

Add OpenAssistant Prompts (please modify)
  model-prompts/openassistant/execute.txt
  model-prompts/openassistant/priority.txt
  model-prompts/openassistant/script.txt
  model-prompts/openassistant/system.txt
  model-prompts/openassistant/task.txt
Labels: none

Update primary objective null scenario
  Config.py
Labels: none

Fix? find_command and execute_command
  Commands.py
Labels: none

Bugfixes - Commands, Fix no objective situation (#150)
  Commands.py
  Config.py
Labels: none

Bugfixes - Commands, Fix no objective situation (#150)
  Commands.py
  Config.py
Labels: none

Moving agent name definition
  Commands.py
Labels: none

Bugfixes 2 (#151)
  Commands.py
Labels: none

Bugfixes 2 (#151)
  Commands.py
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

encode save_task_output as utf8
  Config.py
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Fixed linting;
  frontend/.babelrc
  frontend/.eslintrc.js
  frontend/.eslintrc.json
  frontend/components/agent/AgentObjective.js
  frontend/components/chain/ChainControl.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/chain/[chain].js
  frontend/styles/globals.css
  frontend/yarn.lock
  package-lock.json
  package.json
Labels: frontend

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Update code_style_check.yml
  .github/workflows/code_style_check.yml
Labels: none

Removed empty page for build;
  frontend/pages/chain/[chain].js
  frontend/pages/chain/index.js
Labels: frontend

Fixed Small Frontend Issues (#148)
  .github/ISSUE_TEMPLATE/docs.yml
  frontend/.babelrc
  frontend/.eslintrc.js
  frontend/.eslintrc.json
  frontend/components/agent/AgentObjective.js
  frontend/components/agent/AgentPanel.js
  frontend/components/chain/ChainControl.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/chain/[chain].js
  frontend/pages/chain/index.js
  frontend/styles/globals.css
  frontend/yarn.lock
  package-lock.json
Labels: frontend

Fixed Small Frontend Issues (#148)
  .github/ISSUE_TEMPLATE/docs.yml
  frontend/.babelrc
  frontend/.eslintrc.js
  frontend/.eslintrc.json
  frontend/components/agent/AgentObjective.js
  frontend/components/agent/AgentPanel.js
  frontend/components/chain/ChainControl.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/chain/[chain].js
  frontend/pages/chain/index.js
  frontend/styles/globals.css
  frontend/yarn.lock
  package-lock.json
Labels: frontend

Huggingchat tested with chat endpoint
  notebooks/API-Tests.ipynb
Labels: none

Huggingchat tested with chat endpoint
  notebooks/API-Tests.ipynb
Labels: none

Fixes peer dependencies;
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

fix format
  frontend/package.json
Labels: frontend

Update gitignore;
  .gitignore
Labels: none

Merge conflict;
  frontend/.babelrc
Labels: frontend

Black lint
  Config.py
Labels: none

encode save_task_output as utf8 (#153)
  Config.py
Labels: none

encode save_task_output as utf8 (#153)
  Config.py
Labels: none

Cleaned up menu code;
  frontend/components/content/DoubleSidedMenu.js
  frontend/components/data/ContentSWR.js
  frontend/components/data/MenuSWR.js
  frontend/components/menu/PopoutDrawer.js
  frontend/components/menu/PopoutDrawerWrapper.js
  frontend/components/menu/PopoutDrawerWrapperAppBarButton.js
  frontend/components/systems/agent/AgentAdmin.js
  frontend/components/systems/agent/AgentChat.js
  frontend/components/systems/agent/AgentCommand.js
  frontend/components/systems/agent/AgentCommandList.js
  frontend/components/systems/agent/AgentControl.js
  frontend/components/systems/agent/AgentInstruct.js
  frontend/components/systems/agent/AgentList.js
  frontend/components/systems/agent/AgentObjective.js
  frontend/components/systems/agent/AgentPanel.js
  frontend/components/systems/chain/ChainControl.js
  frontend/components/systems/chain/ChainList.js
  frontend/components/systems/chain/ChainPanel.js
  frontend/components/systems/chain/ChainSaves.js
  frontend/components/systems/chain/ChainStep.js
  frontend/components/systems/chain/ChainSteps.js
  frontend/components/systems/prompt/PromptControl.js
  frontend/components/systems/prompt/PromptList.js
  frontend/components/systems/provider/ProviderList.js
  frontend/pages/agent/[agent].js
  frontend/pages/agent/index.js
  frontend/pages/chain/index.js
  frontend/pages/index.js
  frontend/pages/new/agent.js
  frontend/pages/new/chain.js
  frontend/pages/new/prompt.js
  frontend/pages/prompt/[prompt].js
  frontend/pages/prompt/index.js
  frontend/pages/provider/[provider].js
  frontend/pages/provider/index.js
Labels: frontend

Update prompts body
  app.py
Labels: none
