Repository Josh-XT/AGiXT, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend

.github/labeler.yml:

# .github/labeler.yml
documentation:
  - '**/*.md'
frontend:
  - 'frontend/**/*'
backend:
  - 'backend/**/*'

Change rename to patch
  app.py
Labels: none

Remove unnecessary import
  AgentLLM.py
Labels: none

Change default agent name to Agent-LLM
  AgentLLM.py
  Commands.py
  Config/Agent.py
Labels: none

Agent config;
  .gitignore
  frontend/.gitignore
  frontend/components/systems/agent/AgentObjective.js
  frontend/components/systems/agent/AgentPanel.js
  frontend/components/systems/agent/tabs/AgentAdmin.js
  frontend/components/systems/agent/tabs/AgentChat.js
  frontend/components/systems/agent/tabs/AgentConfigure.js
  frontend/components/systems/agent/tabs/AgentInstruct.js
  frontend/components/systems/agent/tabs/AgentTask.js
  frontend/components/systems/chain/ChainPanel.js
  frontend/components/systems/chain/tabs/ChainAdmin.js
  frontend/components/systems/chain/tabs/ChainSteps.js
  frontend/components/systems/chain/tabs/partial/ChainStep.js
  frontend/components/systems/prompt/PromptPanel.js
  frontend/components/systems/prompt/tabs/PromptAdmin.js
  frontend/components/systems/provider/ProviderList.js
  frontend/pages/_app.js
  frontend/pages/api/provider/index.js
  frontend/pages/provider/[provider].js
  frontend/pages/provider/index.js
Labels: frontend

Fix update output
  app.py
Labels: none

Updates
  Config/Agent.py
  app.py
Labels: none

Fix agent name
  Config/Agent.py
Labels: none

Agent settings;
  chains/Test2/1-Test7-prompt.txt
  frontend/components/systems/agent/AgentControl.js
  frontend/components/systems/agent/tabs/AgentAdmin.js
  frontend/components/systems/agent/tabs/AgentConfigure.js
  frontend/components/systems/chain/tabs/ChainAdmin.js
  frontend/components/systems/chain/tabs/ChainSteps.js
  frontend/components/systems/prompt/tabs/PromptAdmin.js
Labels: frontend

Fixed chains?;
  chains/Test2/1-Test7-command.txt
  chains/Test2/1-Test7-prompt.txt
  chains/Test2/2-Test7-prompt.txt
  frontend/components/systems/agent/tabs/AgentConfigure.js
  frontend/components/systems/chain/step_types/StepTypeCommand.js
  frontend/components/systems/chain/step_types/StepTypePrompt.js
  frontend/components/systems/chain/tabs/partial/ChainStep.js
Labels: frontend

Fixed chain list;
  chains/Test2/3--.txt
  frontend/components/systems/chain/step_types/StepTypeChain.js
  frontend/components/systems/chain/step_types/StepTypeCommand.js
  frontend/components/systems/chain/step_types/StepTypeInstruction.js
  frontend/components/systems/chain/step_types/StepTypePrompt.js
  frontend/components/systems/chain/step_types/StepTypeTask.js
  frontend/components/systems/chain/tabs/partial/ChainStep.js
  frontend/pages/api/provider/index.js
Labels: frontend

Cleaned up test data;
  chains/Test2/1-Test7-command.txt
  chains/Test2/2-Test7-prompt.txt
  chains/Test2/3--.txt
  prompts/Test.txt
Labels: none

Fix chain run endpoint
  app.py
Labels: none

OOps
  app.py
Labels: none

run chain update
  Chain.py
Labels: none

Set default AI provider to huggingchat
  Config/Agent.py
Labels: none

list
  AgentLLM.py
Labels: none

Test
  API-Tests.ipynb
  AgentLLM.py
  Chain.py
  Config/Agent.py
  chains/Write a Tweet about AI/1-test_agent-chat.txt
Labels: none

tabbing
  Config/Agent.py
Labels: none

Updates
  Config/Agent.py
Labels: none

may error
  Config/Agent.py
Labels: none

Fall back to huggingchat
  Config/Agent.py
Labels: none

Updates
  Config/Agent.py
Labels: none

Agent config;
  chains/Test Chain/1-Test1-prompt.txt
  chains/Test Chain/2--command.txt
  chains/Test Chain/3--.txt
  chains/Write a Tweet about AI/1-test_agent-chat.txt
  frontend/components/systems/agent/tabs/AgentConfigure.js
  frontend/components/systems/chain/tabs/ChainAdmin.js
Labels: frontend

Remove test
  chains/README.md
  chains/Test Chain/1-Test1-prompt.txt
  chains/Test Chain/2--command.txt
  chains/Test Chain/3--.txt
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Create CONTRIBUTION.md
  docs/CONTRIBUTION.md
Labels: documentation

Create CONTRIBUTION.md
  docs/CONTRIBUTION.md
Labels: documentation

Update instruct prompts
  API-Tests.ipynb
  AgentLLM.py
  Config/Agent.py
  model-prompts/bard/instruct.txt
  model-prompts/bard/script.txt
  model-prompts/chatgpt/instruct.txt
  model-prompts/chatgpt/script.txt
  model-prompts/default/instruct.txt
  model-prompts/default/script.txt
  model-prompts/gpt-3.5-turbo/instruct.txt
  model-prompts/gpt-3.5-turbo/script.txt
  model-prompts/gpt-4/instruct.txt
  model-prompts/gpt-4/script.txt
  model-prompts/openassistant/instruct.txt
  model-prompts/openassistant/script.txt
  model-prompts/openassistant/system.txt
  model-prompts/vicuna/instruct.txt
  model-prompts/vicuna/script.txt
Labels: none

Updating OpenAssistant instruct
  model-prompts/openassistant/instruct.txt
Labels: none

Remove duplicate info
  model-prompts/openassistant/instruct.txt
Labels: none

Prompt engineering (#185)
  API-Tests.ipynb
  AgentLLM.py
  Config/Agent.py
  model-prompts/bard/instruct.txt
  model-prompts/bard/script.txt
  model-prompts/chatgpt/instruct.txt
  model-prompts/chatgpt/script.txt
  model-prompts/default/instruct.txt
  model-prompts/default/script.txt
  model-prompts/gpt-3.5-turbo/instruct.txt
  model-prompts/gpt-3.5-turbo/script.txt
  model-prompts/gpt-4/instruct.txt
  model-prompts/gpt-4/script.txt
  model-prompts/openassistant/execute.txt
  model-prompts/openassistant/instruct.txt
  model-prompts/openassistant/script.txt
  model-prompts/openassistant/system.txt
  model-prompts/vicuna/instruct.txt
  model-prompts/vicuna/script.txt
Labels: none

Prompt engineering (#185)
  API-Tests.ipynb
  AgentLLM.py
  Config/Agent.py
  model-prompts/bard/instruct.txt
  model-prompts/bard/script.txt
  model-prompts/chatgpt/instruct.txt
  model-prompts/chatgpt/script.txt
  model-prompts/default/instruct.txt
  model-prompts/default/script.txt
  model-prompts/gpt-3.5-turbo/instruct.txt
  model-prompts/gpt-3.5-turbo/script.txt
  model-prompts/gpt-4/instruct.txt
  model-prompts/gpt-4/script.txt
  model-prompts/openassistant/execute.txt
  model-prompts/openassistant/instruct.txt
  model-prompts/openassistant/script.txt
  model-prompts/openassistant/system.txt
  model-prompts/vicuna/instruct.txt
  model-prompts/vicuna/script.txt
Labels: none

Update CONTRIBUTION.md
  docs/CONTRIBUTION.md
Labels: documentation

Update CONTRIBUTION.md (#187)
  docs/CONTRIBUTION.md
Labels: documentation

Update CONTRIBUTION.md (#187)
  docs/CONTRIBUTION.md
Labels: documentation

add missing path to urls
  frontend/components/systems/agent/tabs/AgentConfigure.js
  frontend/pages/_app.js
  frontend/pages/provider/[provider].js
  frontend/pages/provider/index.js
Labels: frontend

add missing path to urls (#191)
  frontend/components/systems/agent/tabs/AgentConfigure.js
  frontend/pages/_app.js
  frontend/pages/provider/[provider].js
  frontend/pages/provider/index.js
Labels: frontend

add missing path to urls (#191)
  frontend/components/systems/agent/tabs/AgentConfigure.js
  frontend/pages/_app.js
  frontend/pages/provider/[provider].js
  frontend/pages/provider/index.js
Labels: frontend

hotfix _app.js
  frontend/pages/_app.js
Labels: frontend
