Repository Josh-XT/AGiXT, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend

.github/labeler.yml:

# .github/labeler.yml
documentation:
  - '**/*.md'
frontend:
  - 'frontend/**/*'
backend:
  - 'backend/**/*'

Expose Port 7437 in Dockerfile-backend & Dockerfile-mac-backend (#103)
  Dockerfile-backend
  Dockerfile-mac-backend
Labels: none

Expose Port 7437 in Dockerfile-backend & Dockerfile-mac-backend (#103)
  Dockerfile-backend
  Dockerfile-mac-backend
Labels: none

Relocated license and tweaked badges at top of README;
  LICENSE
  docs/README.md
Labels: documentation

Relocated license and tweaked badges at top of README;
  LICENSE
  docs/README.md
Labels: documentation

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Added model_path to the write variables
  notebooks/llamacpp.ipynb
Labels: none

Added model_path to the write variables (#110)
  notebooks/llamacpp.ipynb
Labels: none

Added model_path to the write variables (#110)
  notebooks/llamacpp.ipynb
Labels: none

Updates
  AgentLLM.py
Labels: none

Fixed bad reference to execute_command
  AgentLLM.py
Labels: none

Update execute_command #105 (#111)
  AgentLLM.py
Labels: none

Update execute_command #105 (#111)
  AgentLLM.py
Labels: none

Remove unnecessary things from BARD
  provider/bard.py
Labels: none

Unused files and references
  provider/oobabooga.md
  provider/oobabooga.py
  provider/openai.md
Labels: documentation

Move API tests to notebooks
  notebooks/API-Tests.ipynb
Labels: none

Discord commands added
  commands/discord_commands.py
  commands/searxng_commands.py
  requirements-mac.txt
  requirements.txt
Labels: none

Remove unused import
  commands/file_operations.py
Labels: none

Removing unused references, add Discord commands, move test notebook. (#112)
  commands/discord_commands.py
  commands/file_operations.py
  commands/searxng_commands.py
  notebooks/API-Tests.ipynb
  provider/bard.py
  provider/oobabooga.md
  provider/oobabooga.py
  provider/openai.md
  requirements-mac.txt
  requirements.txt
Labels: documentation

Removing unused references, add Discord commands, move test notebook. (#112)
  commands/discord_commands.py
  commands/file_operations.py
  commands/searxng_commands.py
  notebooks/API-Tests.ipynb
  provider/bard.py
  provider/oobabooga.md
  provider/oobabooga.py
  provider/openai.md
  requirements-mac.txt
  requirements.txt
Labels: documentation

fix regular expression to grab commands from response
  AgentLLM.py
Labels: none

Update #105 #113
  AgentLLM.py
Labels: none

Update #105 #113
  AgentLLM.py
Labels: none

Fix discord
  Config.py
  frontend/package-lock.json
Labels: frontend

Fix discord
  Config.py
  frontend/package-lock.json
Labels: frontend

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Fix llamacpp notebook
  notebooks/llamacpp.ipynb
Labels: none

Fix llamacpp notebook
  notebooks/llamacpp.ipynb
Labels: none

Fix front end start instructions
  notebooks/bard.ipynb
  notebooks/chatgpt.ipynb
  notebooks/llamacpp.ipynb
  notebooks/oobabooga.ipynb
  notebooks/openai.ipynb
Labels: none

Fix front end start instructions
  notebooks/bard.ipynb
  notebooks/chatgpt.ipynb
  notebooks/llamacpp.ipynb
  notebooks/oobabooga.ipynb
  notebooks/openai.ipynb
Labels: none

fixes argument parsing of commands
  AgentLLM.py
Labels: none

update regex to handle more cases
  AgentLLM.py
Labels: none

Fix handling of commands (#116)
  AgentLLM.py
Labels: none

Fix handling of commands (#116)
  AgentLLM.py
Labels: none

Prompt engineering, add instruction flag
  AgentLLM.py
  app.py
  model-prompts/bard/execute.txt
  model-prompts/chatgpt/execute.txt
  model-prompts/default/execute.txt
  model-prompts/gpt-3.5-turbo/execute.txt
  model-prompts/gpt-4/execute.txt
  model-prompts/vicuna/execute.txt
  prompts/Execution.txt
  prompts/Instruction.txt
Labels: none

Update instruction mode
  AgentLLM.py
  prompts/Instruction.txt
Labels: none

Prompt engineering
  prompts/Execution.txt
  prompts/Instruction.txt
Labels: none

Add case for no commands executed
  AgentLLM.py
Labels: none

Remove comment
  AgentLLM.py
Labels: none
